<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catalystmedia.half_life">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HalfLife">
        <activity android:name=".PDFview"></activity>
        <activity android:name=".SleepActivity" />
        <activity android:name=".YogaActivity" />
        <activity
            android:name=".TypeSelectScreen"
            android:theme="@style/Theme.HalfLife.NoActionBar" />
        <activity android:name=".TimerCompleteScreen" />

        <receiver
            android:name=".TimerNotificationActionReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".TimerExpiredReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="stop" />
                <action android:name="pause" />
                <action android:name="resume" />
                <action android:name="start" />
            </intent-filter>
        </receiver>

        <activity android:name=".TimerActivity" />
        <activity android:name=".MeditationActivity" />
        <activity
            android:name=".IntroductionActivity"
            android:theme="@style/Theme.HalfLife.White" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.HalfLife.White" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.HalfLife.White">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>